<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Empty index page</title>
    <h1>Pred15</h1>
    <h2><a href="/15_datetime">Trenutni cas</a></h2>
    <h2><a href="/15_omeni_index">O meni</a></h2>
    <h2><a href="/15_loto">Loterija</a></h2>
    <h1>Pred16</h1>
    <h2><a href="/16_kalkulator">Kalkulator</a></h2>
    <h2><a href="/16_skritostevilo">Skrito stevilo</a></h2>
    <h2><a href="/16_pretvornikenot">Pretvornik enot</a></h2>
    </head>
</head>
<body>

</body>
</html>